/* client/src/index.css */
body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  text-align: center;
  color: #ffffff;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #1e1e1e;
  padding: 15px;
  margin: 10px auto;
  width: 60%;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

input,
textarea,
button {
  display: block;
  width: 60%;
  margin: 10px auto;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}

input,
textarea {
  background-color: #2a2a2a;
  color: #fff;
  border: 1px solid #444;
}

button {
  background-color: #333;
  color: #ddd;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #444;
}
